/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
/* Initialize css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* COMMON */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.row{
    width: 100%;
    display: flex;
}
.container-sm{
    max-width: 991px;
    margin: 0 auto;
    padding: 20px;
}
/* This class give bord dashed to div */
.dashed-border{
    border: 2px dashed black;
}
/*  Class for give white border */
.white{
    border-color: white;
}
/* Column */
.col-15{
    width: 25%;
}
.col-70{
    width: 50%;
}
.col-100{
    width: 100%;
}
.col-60{
    width: 60%;
}
.col-40{
    width: 40%;
}
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
}
.col-25{
    width: 25%;
}
/* Height */
.height-50{
    height: 50px;
}
.height-500{
    height: 500px;
}
.height-600{
    height: 600px;
}
.height-900{
    height: 900px;
}
/* Set background */
.bg-orange{
    background-color: rgb(255, 217, 0);;
}
.bg-blue{
    background-color: blue;
}
.bg-gray{
    background-color: lightgrey;
}
.bg-darkpink{
    background-color: rgb(255, 134, 227);
}
.bg-pink{
    background-color: pink;
}
.bg-lightblue{
    background-color: deepskyblue;
}
.bg-green{
    background-color: green;
}
.bg-orange{
    background-color: coral;
}
.bg-aquamarine{
    background-color: aquamarine;
}

/* HEADER */
header{
    background-color: lightskyblue;
}

/* MAIN */

/* FOOTER */
footer{
    background-color: rgb(25, 25, 25);
}
.container-foot{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.padding-top-10{
    padding: 10px 0;
}

/* Line to separate section */
.border-bottom{
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}
/* Second section of footer */
.col-foot-50{
    width: 50%;
}
.content-foot{
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 5px;
    background-color: pink;
}